@model Vielo.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var className = Model.Customers.Count > 4 ? "Popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>
@if (Model.Customers == null)
{
    <p>No one has rented this movie before</p>
}
else
{
    <ul>
        @foreach (var customers in Model.Customers)
        {
            <li>@customers.Name</li>
        }   
    </ul>
}

